@-webkit-keyframes spin {
  0%, 100% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(30deg);
  }

  50% {
    transform: rotate(-30deg);
  }

  75% {
    transform: rotate(15deg);
  }
}

@keyframes spin {
  0%, 100% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(30deg);
  }

  50% {
    transform: rotate(-30deg);
  }

  75% {
    transform: rotate(15deg);
  }
}

@-webkit-keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(2px);
  }

  75% {
    transform: translateY(-5px);
  }
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(2px);
  }

  75% {
    transform: translateY(-5px);
  }
}

@-webkit-keyframes magnify {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

@keyframes magnify {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

@-webkit-keyframes _pulse {
  0% {
    box-shadow: 0 0 0 rgba(38, 44, 60, 0.5);
  }

  70% {
    box-shadow: 0 0 0 0.75rem rgba(38, 44, 60, 0);
  }

  100% {
    box-shadow: 0 0 0 rgba(38, 44, 60, 0);
  }
}

@keyframes _pulse {
  0% {
    box-shadow: 0 0 0 rgba(38, 44, 60, 0.5);
  }

  70% {
    box-shadow: 0 0 0 0.75rem rgba(38, 44, 60, 0);
  }

  100% {
    box-shadow: 0 0 0 rgba(38, 44, 60, 0);
  }
}

@-webkit-keyframes _bounce {
  0% {
    top: 20px;
  }

  50% {
    top: -20px;
  }

  100% {
    top: 20px;
  }
}

@keyframes _bounce {
  0% {
    top: 20px;
  }

  50% {
    top: -20px;
  }

  100% {
    top: 20px;
  }
}

@-webkit-keyframes _bounce_reverse {
  0% {
    top: -20px;
  }

  50% {
    top: 20px;
  }

  100% {
    top: -20px;
  }
}

@keyframes _bounce_reverse {
  0% {
    top: -20px;
  }

  50% {
    top: 20px;
  }

  100% {
    top: -20px;
  }
}

@-webkit-keyframes grow {
  0% {
    transform: scale(0.2);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes grow {
  0% {
    transform: scale(0.2);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes fade-in-out {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes fade-in-out {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.medium-size {
  font-size: 1.8rem;
}

.m-10 {
  margin: 10px;
}

.m-30 {
  margin: 30px;
}

.m-50 {
  margin: 50px;
}

.mrl-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mrl-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.mrl-50 {
  margin-left: 50px;
  margin-right: 50px;
}

.mtb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mtb-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mtb-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.ml-20 {
  margin-left: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.prl-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.prl-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.prl-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.ptb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ptb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.ptb-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.upperline {
  border-top: 3px solid #00984B;
  padding-top: 10px;
}

.seperate-line {
  background-color: #00984B;
}

.section-title-line {
  width: 300px;
  height: 2px;
  margin-bottom: 20px;
  border: #00984B;
  background-color: #00984B;
}

.section-title {
  margin-bottom: 40px;
  font-size: 5rem;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.navbar-brand {
  width: 200px;
}

.navbar-nav > li {
  padding: 25px 10px;
}

.lang li img {
  float: none;
  width: 20px;
  height: 20px;
}

.lang li a {
  display: inline-block;
}

#slider {
  margin-top: 72px !important;
}

.feature {
  padding-top: 70px !important;
}

.feature .feature-txt p {
  font-size: 2.5rem;
  font-family: "Bree Serif";
  line-height: 40px;
}

.feature .item:after {
  opacity: 0.4;
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  content: "";
}

.feature .item button {
  margin-top: 20px;
}

.feature .item:first-child {
  background-image: url(/images/slider/1.jpg);
}

.feature .item:nth-child(2) {
  background-image: url(/images/slider/2.jpg);
}

.feature .item:nth-child(3) {
  background-image: url(/images/slider/5.png);
}

.feature .item:last-child {
  background-image: url(/images/slider/1.png);
}

.feature .carousel-indicators {
  transform: translateX(-50%);
  margin: 0;
  width: auto;
}

.feature .carousel-indicators li {
  padding: 0;
  margin-right: 2px !important;
  width: 30px;
}

.feature .carousel-control .fa {
  color: #fff;
  font-size: 2rem;
}

.section-title {
  margin-bottom: 50px;
}

.promo-video {
  padding: 0;
}

.values .row > .col-md-4 {
  margin-bottom: 20px;
}

.values h2,
.values img {
  font-size: 3rem;
}

.our-services .no-padding-mobile {
  padding: 60px;
}

.our-services .service-row {
  margin-bottom: 40px;
}

.our-services .full-width {
  width: 100%;
}

.our-values .owl-controls {
  display: none;
}

.our-values .item .bg-gray {
  height: 400px;
}

.our-values .item a.btn {
  bottom: 11%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.maps {
  padding: 0;
}

.header-img {
  background-image: url(/images/Business-operations.jpg);
  margin-top: 90px;
  padding: 0;
  height: 400px;
  overflow: hidden;
}

.infinite_slide .item-grid {
  margin-bottom: 0;
}

.infinite_slide .item-img:hover a.btn-default {
  transform: translate(-50%, -50%) scale(1.2);
}

.infinite_slide .owl-controls {
  display: none;
}

.assurance-quality {
  padding: 0;
}

#banner {
  margin-top: 70px !important;
}

.default-portfolio-item {
  cursor: pointer;
}

.filter-btns li {
  background-color: #fff;
}

.get-in-touche {
  padding: 30px;
}

.get-in-touche h4 {
  font-size: 1.7rem;
}

.products-grid .modal .image-box {
  height: 300px;
}

.products-grid .image-box {
  overflow: hidden;
  height: 200px;
}

.products-grid .overlay-box {
  position: relative;
  opacity: 1;
  visibility: visible;
  height: auto;
  transform: none;
}

.products-grid .overlay-box .box-title {
  font-size: 1.5rem;
}

.products-grid .overlay-box p {
  transform: none;
  opacity: 1;
  color: #5a5a5a;
}

.products-grid .inner-content {
  position: relative !important;
  height: auto !important;
  padding: 0 !important;
}

.products-grid .port-content {
  background-color: #fff !important;
  display: block !important;
}

.products-grid .port-content .glry-hvr-txt {
  padding: 20px 20px 5px !important;
  position: relative !important;
}

@media screen and (max-width: 768px) {
  .feature {
    height: 400px !important;
  }

  .navbar-collapse {
    border: none;
  }

  .container {
    padding: 15px 0;
  }

  #header .container {
    padding: 0;
  }

  #header .navbar-nav li {
    padding: 0;
  }

  #header .navigation {
    padding-left: 20px;
  }

  #header .dropdown {
    text-align: left;
  }

  #banner {
    margin-top: 0 !important;
  }

  section {
    padding: 10px 0;
  }

  .owl-item {
    transform: scale(0.7);
  }

  .about-txt {
    margin-top: 20px;
  }

  .about-txt h2 {
    font-size: 2.5rem;
  }

  .about-txt .sub-title p {
    font-size: 1.7rem;
  }

  .our-services .no-padding-mobile {
    padding: 20px !important;
  }

  .main-footer {
    padding: 30px;
  }

  .footer-widget {
    min-height: auto;
    margin-bottom: 20px;
  }

  .products-grid .modal .image-box {
    height: 150px;
  }

  .products-grid p {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.5rem;
    padding: 0 10px;
    text-align: justify;
  }

  .mgl-10 {
    margin-left: 0;
  }
}

.city {
  margin: 30px auto;
}

.product-img {
  margin: 0 auto;
  display: block;
}

.modal.show .modal-dialog {
  width: 80% !important;
  max-width: none;
}

.modal.show .modal-header {
  display: block;
}

.modal.show .croppie-container {
  height: auto;
}

.modal.show .upload-image {
  width: auto;
  margin: 2% auto 0;
}

.card-wrapper {
  margin-bottom: 30px;
}

.card-wrapper .card {
  border: 1px solid #d0d0d0;
  border-radius: 5px;
}

.card-wrapper .card-body {
  padding: 30px;
}

.card-wrapper .card-img-wrapper {
  height: 200px;
  overflow: hidden;
}

/* LAYOUTS */

.feature {
  text-align: center;
  padding: 150px 0;
  position: relative;
  overflow: hidden;
  height: 510px;
}

.feature .slides-img {
  transform: scale(1);
  transition: transform 0.5s ease;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.feature:hover .slides-img {
  transform: scale(1.2);
}

.feature .feature-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: transform 1s ease;
}

.feature .slides-txt {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.feature .extra {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.feature .feature-txt,
.feature .feature-txt-img {
  font-size: 3rem;
  color: #fff;
  transition: left 0.8s ease;
}

.feature .feature-txt h1,
.feature .feature-txt-img h1 {
  display: inline-block;
  position: relative;
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.feature .feature-txt p,
.feature .feature-txt-img p {
  display: inline-block;
  height: 100%;
  position: relative;
  font-family: "MyEpicSelfie", "Gloria Hallelujah", "Caveat";
}

.feature ._bounce_5,
.feature ._bounce_reverse_5 {
  position: relative;
  transition: top 1s;
  top: 0;
}

.feature ._bounce_5 {
  -webkit-animation-name: _bounce_5;
          animation-name: _bounce_5;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

@-webkit-keyframes _bounce_5 {
  0% {
    top: 5px;
  }

  50% {
    top: -5px;
  }

  100% {
    top: 5px;
  }
}

@keyframes _bounce_5 {
  0% {
    top: 5px;
  }

  50% {
    top: -5px;
  }

  100% {
    top: 5px;
  }
}

.feature ._bounce_reverse_5 {
  -webkit-animation-name: _bounce_reverse_5;
          animation-name: _bounce_reverse_5;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

@-webkit-keyframes _bounce_reverse_5 {
  0% {
    top: -5px;
  }

  50% {
    top: 5px;
  }

  100% {
    top: -5px;
  }
}

@keyframes _bounce_reverse_5 {
  0% {
    top: -5px;
  }

  50% {
    top: 5px;
  }

  100% {
    top: -5px;
  }
}

.feature .middle-img {
  height: auto;
  z-index: 1;
  position: relative;
}

.feature .middle-img img {
  border-radius: 50%;
  width: 170px;
}

.feature .typed-bar {
  margin-left: 10px;
  -webkit-animation: fade-in-out 1s ease infinite;
          animation: fade-in-out 1s ease infinite;
}

.feature .feature-img.active {
  transform: translateX(0);
}

.feature .feature-img.inactive-right {
  transform: translateX(100%);
}

.feature .feature-img.inactive-left {
  transform: translateX(-100%);
}

.feature .z-index-p1 {
  z-index: 1;
}

.feature .z-index-0 {
  z-index: 0;
}

.feature .z-index-m1 {
  z-index: -1;
}

.feature .z-index-m2 {
  z-index: -2;
}

.feature .z-index-m3 {
  z-index: -3;
}

.feature .z-index-m4 {
  z-index: -4;
}

.feature .z-index-m5 {
  z-index: -5;
}

.feature .z-index-m10 {
  z-index: -10;
}

.feature .feature-txt.active {
  left: 50%;
}

.feature .feature-txt.inactive-right {
  left: 200%;
}

.feature .feature-txt.inactive-left {
  left: -200%;
}

.feature .btn-index-container {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

.feature .btn-index-container .btn-index {
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0 2px;
}

.feature .btn-index-container .btn-nav {
  display: inline-block;
  font-size: 3rem;
  position: relative;
  top: 5px;
  cursor: pointer;
}

.feature .btn-index-container .btn-nav.left {
  margin-right: 10px;
}

.feature .btn-index-container .btn-nav.right {
  margin-left: 10px;
}

.feature {
  padding: 0;
}

.feature ._container,
.feature .carousel-container,
.feature .row,
.feature .carousel,
.feature .carousel-inner {
  height: 100%;
}

.feature .item {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.feature .feature-txt h1,
.feature .feature-txt p {
  display: inline-block;
}

.feature .feature-txt h1 {
  position: relative;
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.feature .feature-txt p {
  display: inline-block;
  position: relative;
  font-family: "MyEpicSelfie", "Gloria Hallelujah", "Caveat";
}

.feature .carousel-indicators {
  bottom: 5%;
}

.feature .carousel-indicators li {
  border-color: #FAFAFA;
  width: 50px;
  margin: 0;
}

.feature .carousel-indicators li.active {
  height: 10px;
  background-color: #FAFAFA;
}

.feature .carousel-control {
  background-image: none;
  top: 50%;
  display: inline-block;
  left: 2%;
  width: 30px;
  height: 30px;
  z-index: 1;
}

.feature .carousel-control.right {
  right: 2%;
  left: unset;
}

.feature .static-txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.feature .feature-txt {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  display: inline-block;
}

.feature .feature-txt h1.small,
.feature .feature-txt p.bg-dark-lighter {
  padding: 5px;
}

.feature .middle-img {
  height: auto;
  position: relative;
  top: 15%;
}

.feature .feature-txt-img {
  position: relative;
  top: 20%;
}

@media screen and (max-width: 992px) {
  .navbar-nav > li {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  #banner {
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  .card-wrapper .card {
    margin: 0 30px;
  }

  .card-wrapper .card .card-img-wrapper {
    height: 150px;
  }

  .card-wrapper .card .card-title {
    font-size: 1.4rem;
  }

  .card-wrapper .card .card-text {
    font-size: 1.3rem;
    padding: 0;
  }

  .card-wrapper .card .card-date {
    font-size: 1.3rem;
  }

  .card-wrapper .card .card-body {
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  .products-grid .mix {
    padding: 0 50px;
  }

  .products-grid .mix .inner-box {
    margin-bottom: 0;
  }

  .products-grid .mix .overlay-box p {
    padding: 0;
  }
}

.application_message .input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.application_message .input-group > .custom-file {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.application_message .input-group > .custom-file:not(:last-child) .custom-file-label,
.application_message .input-group > .custom-file:not(:last-child) .custom-file-label::before {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.application_message .input-group > .input-group-append > .btn,
.application_message .input-group > .input-group-append > .input-group-text,
.application_message .input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.application_message .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child),
.application_message .input-group > .input-group-prepend:not(:first-child) > .btn,
.application_message .input-group > .input-group-prepend:not(:first-child) > .input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.application_message .custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(3.25rem + 11px);
  margin-bottom: 0;
}

.application_message .custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(3.25rem + 11px);
  margin: 0;
  opacity: 0;
}

.application_message .custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(3.25rem + 11px);
  padding: 0.5rem 1rem;
  line-height: 2;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.application_message .custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: calc(calc(3.25rem + 11px) - 1px * 2);
  padding: 0.5rem 1rem;
  line-height: 2;
  color: #495057;
  content: "Browse";
  background-color: #e9ecef;
  border-left: 1px solid #ced4da;
  border-radius: 0 0.25rem 0.25rem 0;
}

.application_message .input-group-append {
  margin-left: -1px;
}

.application_message .input-group-append,
.application_message .input-group-prepend {
  display: flex;
}

.application_message .message {
  margin-top: 20px;
}

