
.medium-size
    font-size: 1.8rem
.ml-10
    margin-left: 20px
.mb-10
    margin-bottom: 10px
.uppercase
    text-transform: uppercase
.capitalize
    text-transform: capitalize
.center
    text-align: center
.justify
    text-align: justify
.upperline
    border-top: 3px solid $green-1
    padding-top: 10px
.seperate-line
    background-color: $green-1

.block
    display: block
.inline-block
    display: inline-block

